---
import Layout from "../layouts/Layout.astro";
import ScrapingInterface from "../components/crapingInterface";
---

<Layout title="Scraping Interface - Extracción de Datos Web">
  <main>
    <ScrapingInterface client:load />
  </main>
</Layout>
